.GiPreviewList {
  display: flex;
  flex-wrap: wrap;
  background: #eeeeee;
  border: 1px solid #aaaaaa;
  width: 440px;
  padding: 8px;
  border-radius: 8px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.GiPreviewItem {
  flex: 50%;
  margin-bottom: 2px;
}

.GiPreviewItem > img{
  max-width: 200px;
  max-height: 200px;
  border: 1px solid;
  border-radius: 8px;
}

