.MessageBlock{
  padding-bottom: 24px;
  display: flex;
  flex-direction: row;
}

.MessageAvatar{
  border-radius: 8px;
  width: 40px;
  height: 40px;
}

.MessageBlockContent{
  padding-left: 16px;
}

.MessageBlockContentTitle{
  padding-bottom: 4px;
}

.MessageBlockContentTitle span{
  font-size: 12px;
  padding-left: 4px;
  color: #969696
}