.MessageFormTextArea {
  resize: none;
  background: #FFFFFF;
  border: none;
  font-size: 16px;
  letter-spacing: 0.2px;
  font-family: Arial;
  width: 100%;
  padding: 12px;
  outline: none;
}

.MessageFormForm:focus-within{
  border: solid 2px #FF8200;
}

.MessageFormForm {
  border: 1px solid #D6D6D6;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.MessageFormSubmit{
  border:none; 
  padding: 0px 16px;
  background-color:inherit;
}